
  
  .cardlist {
    display: flex;
    gap: 25px;
    /* background-color: rgb(242, 22, 22); */
    flex-wrap: wrap;
    overflow-x:scroll;
    width:1300px;
    padding-left:5%;
  }
  
  .cards {
    display: inline-block;
    /* border: 3px solid black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    width: 400px;
    height: 550px;
    font-size: 15px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    word-wrap: break-word;
    
  }
  
  
  
  .back-to-top:hover {
    background-color: #0056b3;
  }
  